@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="card text-center">
    <h1 class="display-2">Checkout</h1>
    <hr />
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <form method="post" asp-controller="Cart" asp-action="Checkout">
        <div class="row justify-content-center">
            <fieldset>
                <legend>Customer Information</legend>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input type="email" class="form-control" placeholder="Enter Email" name="email" asp-for="Email">
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone Number</span>
                        </div>
                        <input type="tel" class="form-control" placeholder="Enter Phone Number" name="phoneNumber" asp-for="PhoneNumber">
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Street Address</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Street Address" name="address" asp-for="Address">
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Postcode</span>
                        </div>
                        <input type="number" class="form-control" placeholder="Enter Postcode" name="postcode" asp-for="Postcode">
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Suburb</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Suburb" name="suburb" asp-for="Suburb">
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">State</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter State" name="state" asp-for="State">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Delivery</legend>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Street Address</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Street Address" name="deliveryAddress" asp-for="DeliveryAddress">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Postcode</span>
                            </div>
                        <input type="number" class="form-control" placeholder="Enter Postcode" name="deliveryPostcode" asp-for="DeliveryPostcode">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Suburb</span>
                            </div>
                        <input type="text" class="form-control" placeholder="Enter Suburb" name="deliverySuburb" asp-for="DeliverySuburb">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">State</span>
                            </div>
                        <input type="text" class="form-control" placeholder="Enter State" name="deliveryState" asp-for="DeliveryState">
                        </div>
                    </div>
            </fieldset>
            <fieldset>
                <legend>Payment</legend>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Card Number</span>
                        </div>
                        <input type="number" class="form-control" placeholder="Enter Card Number" name="cardNumber" asp-for="CardNumber">
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Card Owner</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Card Owner's Name" name="cardOwner" asp-for="CardOwner">
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Expiry</span>
                        </div>
                        <input type="month" class="form-control" placeholder="Enter Expiry Date" name="expiry" asp-for="Expiry">
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">CVV</span>
                        </div>
                        <input type="password" class="form-control" placeholder="Enter CVV" name="cvv" asp-for="CVV">
                    </div>
                </div>
            </fieldset>

            <a type="submit" class="btn btn-light col-2 m-2" asp-controller="Cart" asp-action="Index">Return to Cart</a>
            <button type="submit" class="btn btn-primary col-2 m-2">Place Order</button>
        </div>
    </form>
</div>
