@model List<Product>  
@{
    ViewData["Title"] = "Results";
}

<div class="card text-center">
    <h1 class="display-2">Search Results</h1>
    <hr />
    <div class="row justify-content-center">
        @if (Model.Count() == 0)
        {
            <div class="alert alert-danger">
                <p>No results found.</p>
            </div>
        }
        <partial name="_SearchPartial" />
    </div>
    <br />
    <div class="row justify-content-center">
        <table class="table table-striped table-hover text-start">
            <thead>
                <tr>
                    <th scope="col">Item Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr data-url="@Url.Action("ItemDetails", new {id = item.Id})">
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Author</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("table tr[data-url]").on("click", function () {
            window.location.href = $(this).data("url");
        });
    });
</script>