<p class="display-4">Search our Wide Range of Products</p>
<form action="@Url.Action("SearchResults", "Search")" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="e.g. Title, Description, Author" aria-label="Search Store" aria-describedby="basic-addon2" name="searchQuery">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
