@{
    ViewData["Title"] = "Account";
}

<div class="card text-center">
    <h1 class="display-2">My Account</h1>
    <hr />
    <div class="row justify-content-center">
        <p class="col-8 text-justify">
            Here you can manage your account. You can change your password, update your address, and view your order history.
        </p>
    </div>
</div>
