@{
    ViewData["Title"] = "Error";
}

<div class="card text-center">
    <h1 class="display-2">Oops! Something Went Wrong.</h1>
    <hr />
    <div class="row justify-content-center">
        <p class="col-8 text-justify">
            We're sorry, but something went wrong. We are looking into it and hope to have it resolved soon.
        </p>
    </div>
    <div class="row justify-content-center">
        <a href="/" class="btn btn-primary">Go to Home Page</a>
    </div>
</div>
