@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center">
    <h1 class="display-2">Welcome to WebStore</h1>
    <hr />
    <div class="row justify-content-center">
        <p class="col-8 text-justify">
            Your Ultimate Entertainment Hub! Dive into a world where the stories come alive, adventures await, and memories are made.
            From gripping novels and blockbuster films to immersive games that transport you to another realm, we've curated a collection 
            that caters to every taste. Discover, explore, and lose yourself in the magic of storytelling. Your next favorite is just a click away</p>
    </div>
</div>

<div class="card text-center row">
    <p class="display-4">Search our Wide Range of Products</p>
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-lg">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card text-center">
            <p class="display-4">My Orders</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <p class="display-4">Account Management</p>
    
        </div>
    </div>
</div>
