@{
    ViewData["Title"] = "Order Details";
}

<div class="card text-center row">
    <h1 class="display-2">Order: 123456</h1>
    <hr />
    <div class="row justify-content-center">
        <p class="col-8 text-justify">
            This page will contain all the details of the order. The customer will be able to see the status of the order, the items ordered, the total cost, and the shipping address.
        </p>
    </div>
</div>

